<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Subscription Preferences</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <section id="preferencesapp">
      <header id="header">
        <h1>Subscription Preferences</h1>
      </header>
      <section id="main">
        <input id="toggle-all" type="checkbox"/>
        <label for="toggle-all">Subscribe to all topics</label>
        <ul id="preferences-list"></ul>
      </section>
      <footer id="footer"></footer>
    </section>
    <script type="text/template" id="topic-template">
      <div class="view">
        <label><%= title %></label>
        <input type="checkbox" class="toggle"/>
      </div>
    </script>
    <script type="text/template" id="stats-template"><span id="topic-count"><strong>Subscribed to <%= subscribed %> of <%= numberOfTopics %> topics</strong></span></script>
    <script src="js/lib/backbone-app.84b1062d.js"></script>
    <script src="js/dist.94a49499.js"></script>
  </body>
</html>